<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Lodging</title>

</head>
<body>

<div th:replace="welcome :: navigtion"></div>

<div class="container">
    <div class="row">
        <div class="col-3 mt-5">
            <form th:action="@{/lodging/search}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Name </span>
                        </div>
                        <input th:field="*{searchCriteria.name}" class="form-control" placeholder="Name" type="text">
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Location  </span>
                        </div>
                        <input th:field="*{searchCriteria.location}" class="form-control" placeholder="Location" type="text">
                    </div> <!-- input-group.// -->
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">
            <div>
                <th:block th:each="lodging : ${lodgingList}">
                    <div class="card mt-3">
                        <img class="card-img-top" th:src="@{'/file/' + ${lodging.photoName}}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${lodging.name}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${lodging.cost} + ' BYN/night'"></h6>
                            <p class="card-text" th:text="${lodging.description}"></p>
                            <a th:href="@{'/lodging/' + ${lodging.getId()}}" class="card-link">View</a>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/lodging/' + ${lodging.getId()} + '/delete'}" class="card-link">Delete</a>

                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>