<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Lodging</title>

</head>
<body>
<div th:replace="welcome :: navigtion"></div>

<div class="container snippet">
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-capitalize">Lodging</li>
                <li class="list-group-item"><span class="text-left"><strong>Name</strong>
                    <span class="text-right" th:text="${lodging.name}" ></span>
                </span>

                <li class="list-group-item"><span class="text-left"><strong>Creator</strong>
                    <span class="text-right" th:text="${lodging.ownerUsername}"></span>
                </span>

                <li class="list-group-item"><span class="text-left"><strong>Cost</strong>
                    <span class="text-right" th:text="${lodging.cost} + ' BYN per night'"></span>
                </span>
                </li>
            </ul>

            <hr>
            <form th:action="@{'/reservation/create?lodgingId=' + ${lodging.id} }" th:method="post">
                <div class="form-group">
                    <label for="start">From</label>
                    <input type="date" id="start" name="start" max="3000-12-31"
                           min="1000-01-01" class="form-control"
                            th:field="*{reservationPrepare.startDate}">
                </div>
                <div class="form-group">
                    <label for="end">To</label>
                    <input type="date" name="end" id="end" min="1000-01-01"
                           max="3000-12-31" class="form-control"
                            th:field="*{reservationPrepare.endDate}">
                </div>

                <button class="btn btn-lg btn-success mt-2" type="submit">
                    <i class="glyphicon glyphicon-ok-sign"></i> Reserve
                </button>
            </form>
            <br>
        </div>
        <!--/col-3-->
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <img class="card-img-top" th:src="@{'/file/' + ${lodging.photoName}}">
            <h2 th:text="${lodging.name}"></h2>
            <p th:text="${lodging.cost} + ' BYN per night'"></p>
            <hr>
            <p th:text="${lodging.description}"></p>
            <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
        </div>
    </div>

    <!--/col-9-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script>
    document.getElementById("start").onchange = function () {
        let input = document.getElementById("end");
        input.setAttribute("min", this.value);
    }
</script>
</body>

</html>