<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Create lodging</title>

</head>
<body>
<div th:replace="welcome :: navigtion"></div>

<div class="container">
    <form class="form"
          th:action="@{/lodging}"
          th:method="post"
          enctype="multipart/form-data"
          id="lodgingForm">
        <input type="hidden"
               th:name="ownerId"
               th:value="${currentUser.id}">


        <input type="hidden"
               th:name="ownerUsername"
               th:value="${currentUser.username}">

        <div class="form-row">

            <div class="col-8">
                <div class="form-group">
                    <label for="name">
                        <h4>Name</h4></label>
                    <input type="text" class="form-control"
                           name="name" id="name"
                           th:field="*{lodging.name}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <div class="form-group">
                    <label for="location">
                        <h4>Location</h4></label>
                    <input type="text" class="form-control"
                           name="location" id="location"
                           th:field="*{lodging.location}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <div class="form-group">
                    <label for="cost">
                        <h4>Cost (per night)</h4></label>
                    <input type="number" min="1" class="form-control"
                           name="cost" id="cost"
                           th:field="*{lodging.cost}">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-8">
                <div class="form-group">
                    <label for="description"><h4>Description</h4></label>
                    <textarea th:field="*{lodging.description}"
                              class="form-control" id="description" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <div class="form-group">
                    <label for="description"><h4>Image</h4></label>
                    <input type="file" name="photo">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <br>
                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Create</button>

                </div>
            </div>
        </div>


    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>