<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Reservations</title>

</head>
<body>
<div th:replace="welcome :: navigtion"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="mt-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="reservation : ${reservationList}">
                            <tr>
                                <td th:text="${reservation.id}"></td>
                                <td th:text="${reservation.lodgingName}"></td>
                                <td th:text="${reservation.startDate}"></td>
                                <td th:text="${reservation.endDate}"></td>
                                <td th:text="${reservation.cost}"></td>
                                <td th:text="${reservation.userUsername}"></td>
                                <td th:text="${reservation.lodgingOwnerUsername}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>