<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Confirm reservation</title>

</head>
<body>
<div th:replace="welcome :: navigtion"></div>

<div class="container">
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4">
                <div class="card">
                    <h5 class="card-header">Reserve</h5>
                    <div class="card-body">
                        <h5 th:text="'Name: \'' + ${reservation.lodgingName} + '\''"
                            class="card-title">Special title treatment</h5>
                        <h6 th:text="'Owner: ' + ${reservation.lodgingOwnerUsername}"
                            class="card-subtitle">
                        </h6>
                        <hr>
                        <p th:text="'From: ' + ${reservation.startDate}" class="card-text"></p>
                        <p th:text="'To: ' + ${reservation.endDate}" class="card-text"></p>
                        <p th:text="'Cost: ' + ${reservation.cost.toString()}" class="card-text"></p>

                        <form th:action="@{/reservation}" th:method="post">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </form>

                    </div>
                </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>