<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Account</title>

</head>


<body>
<script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js">
</script>
<script>
    import collection from 'easter-egg-collection'
    hi
</script>
<div th:replace="welcome :: navigtion"></div>
<hr>
<div class="container bootstrap snippet">
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-capitalize">Account</li>
                <li class="list-group-item"><span class="text-left"><strong>Username</strong>
                    <span class="text-right" th:text="${user.username}"></span>
                </span>

                <li class="list-group-item"><span class="text-left"><strong>Email</strong>
                    <span class="text-right" th:text="${user.email}"></span>
                </span>

                <li class="list-group-item"><span class="text-left"><strong>Balance</strong>
                    <span class="text-right" th:text="${user.balance}"></span>
                </span>
                </li>
            </ul>
            <br>

            <form th:action="@{/user/wallet/fill}" th:method="get">
                <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Fill wallet</button>
            </form>

            <!--<button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Change username</button>
            <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Change email</button>-->
            <form th:action="@{/user/password}" th:method="get">
            <button class="btn btn-primary btn-block mt-3" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Change password</button>
            </form>
        </div>
        <!--/col-3-->
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <h2>Personal</h2>
            <form class="form"
                  th:action="@{/user}"
                  th:method="put"
                  id="personalForm">

                <div class="form-row">

                    <div class="col-8">
                        <div class="form-group">
                            <label for="name">
                                <h4>First name</h4></label>
                            <input type="text" class="form-control"
                                   name="name" id="name"
                                   th:field="${user.fullName}"
                                   th:placeholder="${user.fullName}"
                                   placeholder="first name" title="enter your name if any.">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="mobile">
                                <h4>Phone</h4></label>
                            <input type="text" class="form-control"
                                   name="mobile" id="mobile" placeholder="enter mobile number"
                                   th:field="${user.phone}"
                                   th:placeholder="${user.phone}"
                                   title="enter your mobile number if any.">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="email">
                                <h4>Contact email</h4></label>
                            <input type="email" class="form-control" name="email" id="email"
                                   th:placeholder="${user.contactEmail}"
                                   th:field="${user.contactEmail}"
                                   placeholder="you@email.com" title="enter your email.">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="email">
                                <h4>Location</h4></label>
                            <input type="text" class="form-control" id="location"
                                   th:field="${user.location}"
                                   th:placeholder="${user.location}" placeholder="somewhere" title="enter a location">
                        </div>
                    </div>
                </div>
                <!--<div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="password">
                                <h4>Password</h4></label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="password2">
                                <h4>Verify</h4></label>
                            <input type="password" class="form-control" name="password2"
                                   id="password2" placeholder="password2" title="enter your password2.">
                        </div>
                    </div>
                </div>-->
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/col-9-->
</div>
<!--/row-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>