<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>Users</title>

</head>
<body>
<div th:replace="welcome :: navigtion"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="mt-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Contact email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="user : ${users}">
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.balance} + ' BYN'"></td>
                                <td th:text="${user.fullName}"></td>
                                <td th:text="${user.location}"></td>
                                <td th:text="${user.contactEmail}"></td>
                                <td th:text="${user.phone}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>