<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

        <title>Welcome to Vitaju</title>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" th:fragment="navigtion">
            <div>


                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="navbar-brand mb-0 h1">
                            Vitaju
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/lodging/create">Create</a>
                    </li>


                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/lodging">Search</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/reservation">Reservations</a>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/user/all">Users</a>
                    </li>

                </ul>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>


                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/user">Account</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button type="submit" class="btn btn-block"> Sign out  </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9" id="main-content">
                    <h2>Welcome to Vitaju!</h2>
                    <p>Vitaju is a web service for searching and renting houses and apartments.</p>
                </div>
                <div sec:authorize="isAnonymous()" class="col-md-3" id="sidebar">
                    <p>Please, log in or sign up to start</p>
                </div>
                <div sec:authorize="isAuthenticated()" class="col-md-3" id="sidebar_2">
                    <form th:action="@{/lodging}" method="get">
                        <button type="submit" class="btn btn-block btn-primary">Start searching</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    </body>
</html>